<footer>
    <table class="footer-table">
        <tr class="footer-row">
            <th class="footer-th">
                heet boda
            </th>
            <th class="footer-th">social</th>
        </tr>
        <tr class="footer-row">
            <td class="footer-td text">A Frontend focused Web Developer building the Frontend of Websites and
                Web
                Applications that leads to the success of the overall product
            </td>
            <td class="footer-td icons">
                <a href="https://www.linkedin.com/in/heet-boda-196696260" target="_blank"> <img
                        src="./images/linkedin.png" alt="LinkedIn" class="footer-socials"></a>
                <a href="https://www.instagram.com/heet.b03?utm_source=ig_web_button_share_sheet&igsh=OGQ5ZDc2ODk2ZA=="
                    target="_blank"><img src="./images/instagram.png" alt="" class="footer-socials"></a>
                <a href="" target="_blank"><img src="./images/twitter.png" alt="" class="footer-socials"></a>
                <a href="https://github.com/heet003" target="_blank"><img src="./images/github.png" alt=""
                        class="footer-socials"></a>
            </td>
        </tr>
    </table>
    <hr class="footer-hr">
    <p>© Copyright 2023. Made by <a href="/home">Heet Boda.</a></p>
</footer>
<script src="script.js"></script>
</body>

</html>