<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles.css">
        <title>Heet Boda </title>
        <link rel="shortcut icon" href="./images/android-chrome-192x192.png" type="image/x-icon">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Open+Sans&family=Ubuntu&display=swap"
            rel="stylesheet">
    </head>

    <body>

        <!-- top navigation bar  -->
        <header id="container">

            <nav>
                <div class="logo">
                    <img src="./images/me.jpg" id="logo" alt="Logo">
                    <h2>Heet Boda</h2>
                </div>
                <div id="mySidenav" class="sidenav">
                    <a href="/home">Home</a>
                    <a href="/home#box2">About</a>
                    <a href="/home#box3">Projects</a>
                    <a href="/home#box4">Contact</a>
                </div>
            </nav>
        </header>