<%- include('partials/header.ejs'); -%>
    <!-- homepage  -->
    <div id="box1">
        <div id="home">
            <h1 class="iamheet">Quiz</h1>
            <p class="intro">This page contains the case study of Quiz Project which includes the Project Overview,
                Tools
                Used and Live Links to the official product.</p>
            <a href="https://github.com/heet003/Dynamic-Quiz" target="_blank" class="projects">Project link</a>
        </div>
        <img src="./images/mouse.png" class="scroll" alt="">
    </div>
    <div class="project-container">
        <div class="project-details">
            <img src="./images/quiz-canva.png" class="quiz-image" class="" alt="">
            <div class="content">
                <h2>Project Overview</h2>
                <p class="desc-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quidem impedit
                    labore
                    quas
                    at quam soluta mollitia optio dolor delectus. Quas quia pariatur aliquam sapiente itaque unde, culpa
                    nisi
                    sit similique impedit quibusdam error? Illum officia adipisci eveniet doloribus rem!</p>
                <p class="desc-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A repellat illum odit
                    aspernatur
                    voluptates. Numquam incidunt, voluptatem suscipit quaerat labore eius necessitatibus saepe,
                    doloremque
                    id
                    quisquam, consequuntur non magnam neque!</p>
                <p class="desc-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A repellat illum odit
                    aspernatur
                    voluptates. Numquam incidunt, voluptatem suscipit quaerat labore eius necessitatibus saepe,
                    doloremque
                    id
                    quisquam, consequuntur non magnam neque!</p>
                <p class="desc-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A repellat illum odit
                    aspernatur
                    voluptates. Numquam incidunt, voluptatem suscipit quaerat labore eius necessitatibus saepe,
                    doloremque
                    id
                    quisquam, consequuntur non magnam neque!</p>
                <h2>Tools Used</h2>
                <p class="project-skills">HTML</p>
                <p class="project-skills">CSS</p>
                <p class="project-skills">JavaScript</p>
                <h2>See Live</h2>
                <a href="https://github.com/heet003/Dynamic-Quiz" class="know-more project-link" target="_blank">Project
                    link</a>
                <a href="/home" class="know-more go-back">Go back</a>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs'); -%>